.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(360deg, #121215, #171625, #351E22);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-profile {
    background: white;
    width: 64px;
    height: 64px;
    border-radius: 620px;
}

.tx-name-profile {
    color: white;
    font-size: 24px;
    margin-top: 8px;
}


.profile-information-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.badge-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    font-family: 'MyCustomFontMedium', sans-serif;
    width: 90%;
}

.badge-section {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badge-title {
    font-size: 14px;
    color: #A2A8B5;
    margin-bottom: 5px;
}

.badge-value {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.badge-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.badge-divider {
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 20px;
}

.start-button {
    background-color: yellow;
    border: none;
    padding: 16px 20px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 12px;
    width: 90%;
    font-family: 'MyCustomFont', sans-serif;
}

.div-container-address-pr {
    background-color: rgba(255, 255, 255, 0.02);
    margin: 10px 24px;
    border-radius: 16px;
}

.address-tx {
    padding: 10px 20px;
}

.sheet-task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tx-h1-link {
    color: white;
    font-size: 18px;
    padding-bottom: 16px;
}

.tx-h2-link-c {
    font-size: 12px;
    text-align: center;
    padding-bottom: 16px;
    word-wrap: break-word; /* или word-break: break-all; */
    white-space: normal; /* Это свойство обеспечит перенос текста */
    width: 100%; /* Или установите конкретную ширину */
    max-width: 100%; /* Убедитесь, что максимальная ширина ограничена */
}