.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(360deg, #161618, #191819, #171719);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.image-profile {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 32px;
    background: white;
    z-index: 2;
}

.card-row-profile {
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    display: flex;
    gap: 20px;
    margin-top: 16px;
    flex-direction: row;
}

.image-profile::before,
.image-profile::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.image-profile::before {
    width: 74px; /* Slightly larger than the main image */
    height: 74px;
    background: radial-gradient(circle, rgba(255, 255, 255, 2%) 0%, rgba(255, 255, 255, 2%) 70%);
    z-index: 1;
}

.image-profile::after {
    width: 84px; /* Larger than the ::before layer */
    height: 84px;
    background: radial-gradient(circle, rgba(255, 255, 255, 2%) 0%, rgba(255, 255, 255, 2%) 70%);
    z-index: 0;
}

.tx-settings {
    color: white;
    font-family: MyCustomFont-bold, sans-serif;
    font-size: 20px;
    text-align: start;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.tx-name-profile {
    color: white;
    font-size: 24px;
    font-family: MyCustomFont-bold, sans-serif;
    margin-top: 8px;
    margin-bottom: 24px;
}

.line-profile-information {
    width: 100%;
    height: 1px;
    background: #1B1B1E;
}

.profile-information-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background: linear-gradient(360deg, #19171D, #1A161F, #18171C);
    width: 100%;
}

.badge-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    font-family: 'MyCustomFontMedium', sans-serif;
    width: 90%;
}

.badge-section {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badge-title {
    font-size: 14px;
    color: #A2A8B5;
    margin-bottom: 5px;
}

.badge-value {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.badge-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.badge-divider {
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 20px;
}

.start-button {
    background-color: yellow;
    border: none;
    padding: 16px 20px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 12px;
    width: 90%;
    font-family: 'MyCustomFont', sans-serif;
}

.div-container-address-pr {
    background-color: rgba(255, 255, 255, 0.02);
    margin: 10px 24px;
    border-radius: 16px;
}

.address-tx {
    padding: 10px 20px;
}

.sheet-task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tx-h1-link {
    color: white;
    font-size: 18px;
    padding-bottom: 16px;
}

.tx-h2-link-c {
    font-size: 12px;
    text-align: center;
    padding-bottom: 16px;
    word-wrap: break-word; /* или word-break: break-all; */
    white-space: normal; /* Это свойство обеспечит перенос текста */
    width: 100%; /* Или установите конкретную ширину */
    max-width: 100%; /* Убедитесь, что максимальная ширина ограничена */
}