.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 0 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(360deg, #121215, #171625, #351E22);
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    opacity: 1;
}

.under-slider {
    text-align: center;
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.sub-title-cristall {
    padding: 0 10px;
}

.btn-container .nav-button {
    flex: 0 0 auto; /* Кнопки не будут растягиваться */
}

.btn-container h2 {
    flex: 1; /* Текст занимает оставшееся пространство */
    text-align: center; /* Выравнивание текста по центру */
    margin: 0; /* Убираем внешние отступы */
    position: absolute; /* Позиционируем текст абсолютно */
    left: 50%; /* Центрируем относительно контейнера */
    transform: translateX(-50%); /* Смещаем текст на половину его ширины влево */
}

.div-btn-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slide-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this */
}

.slide-image {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.nav-button {
 /* Center the button vertically */
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    z-index: 10;
    transition: background 0.3s;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.nav-button:disabled,
.nav-button.disabled {
    cursor: not-allowed;
}

.image-nav {
    filter: brightness(0) invert(1);
}

.image-nav.disabled {
    filter: brightness(0) invert(0.5);
}

h2, p {
    font-family: 'MyCustomFontMedium', sans-serif;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #A2A8B5;
    margin: 0;
    text-align: center;
}
