.tap-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(360deg, #161618, #191819, #171719);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 95vh;
    overflow: hidden;
    position: relative;
}

.tap-raspred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.coin-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 24px;
    margin-bottom: 16px;
    z-index: 2;
}

.count-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.coin-small {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.click-count {
    color: white;
    font-family: 'MyCustomFont-bold', sans-serif;
    font-size: 48px;
}

.coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    z-index: 2;
}

.tap-coin {
    width: 200px;
    height: 200px;
    transition: transform 0.1s;
    position: relative;
    user-select: none;
    z-index: 3;
}



.type-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.02);
    z-index: 2;
}

.tx-type-status {
    font-family: 'MyCustomFontMedium', sans-serif;
    font-size: 22px;
    color: #A2A8B5;
}

.coin-clicked {
    transform: scale(1.2);
}

.tap-coin::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    animation: ripple 0.1s linear;
    z-index: -1;
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 223, 0, 0.25) 0%, rgba(255, 223, 0, 0) 60%);
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
}

.increment {
    position: absolute;
    font-size: 24px;
    color: white;
    opacity: 1;
    animation: moveUp 1s ease-out forwards;
    z-index: 4;
}

@keyframes moveUp {
    0% {
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
    }
    100% {
        transform: translateY(-180px);
        opacity: 0;
    }
}

.progress-energy-container {
    width: 100%;
    padding: 0 10px;
    z-index: 2;
    margin-bottom: 10px;
}

.progress-bar {
    z-index: 2;
}

.energy-badge {
    z-index: 2;
}
