.boost-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0; /* Remove margins from BoostItem */
    border-radius: 16px;
    text-align: center;
    color: white;
    font-family: 'MyCustomFontMedium', sans-serif;
    box-sizing: border-box;
    background-color: #1B1B1E;
}

/*.current-name-boost {*/
/**/
/*}*/

.progress-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.ic-logo {
    width: 48px;
    height: 48px;
    margin-left: 4px;
}

.action-status-acc {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-right: 4px;
}

.coins-container-boost-item {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.ic-coins {
    width: 16px;
    height: 16px;
}

.boost-tx-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    flex: 1;
}

.progress-text .current-name-boost {
    color: white;
    font-size: 16px;
    text-align: start;
    margin-left: 4px;
    font-family: MyCustomFont-bold, sans-serif;
}

.progress-text .divider-task-boost {
    color: white;
    font-size: 16px;
    margin: 0 5px;
    font-family: MyCustomFont-bold, sans-serif;
}

.driver-lvl-boost {
    color: #9CA5B2;
    font-family: MyCustomFont, sans-serif;
    font-size: 16px;
}

.progress-text .max {
    color: #A2A8B5;
    font-size: 18px;
}
