@font-face {
    font-family: 'MyCustomFont';
    src: url('../../assets/font/Inter-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('../../assets/font/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-container-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 95vh;
    width: 100%;
    background: linear-gradient(360deg, #161618, #191819, #171719);
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back-button, .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.title {
    color: white;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.logo-start {
    width: 240px;
    height: 240px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: rgb(255, 255, 255, 4%);
    border-radius: 32px;
    margin-bottom: 32px;
}

.social-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 48px;
    height: 48px;
}

.social-text {
    font-size: 12px;
    color: white;
    font-family: 'MyCustomFontMedium', sans-serif;
}

.start-button {
    background-color: yellow;
    border: none;
    padding: 16px 20px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 12px;
    font-family: 'MyCustomFont', sans-serif;
}

.tx-logo-start {
    font-family: MyCustomFont-bold, sans-serif;
    font-size: 32px;
    color: white;
}