@font-face {
    font-family: 'MyCustomFont';
    src: url('../../assets/font/Inter-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont-bold';
    src: url('../../assets/font/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.loading-coin-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161618, #191819, #171719);
}





.loading-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 800; /* Используйте 800 для Extra-Bold */
}

.image-container {
    position: relative;
    display: inline-block;
}

.glowing-image {
    position: relative;
    z-index: 1;
    width: 230px;
    height: 230px;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%; /* Регулируйте размер сияния */
    height: 200%; /* Регулируйте размер сияния */
    background: radial-gradient(circle, rgba(255, 223, 0, 0.25) 0%, rgba(255, 223, 0, 0) 60%);
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none; /* Убедитесь, что сияние не мешает взаимодействию */
}
