.level-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(360deg, #161618, #191819, #171719);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 95vh;
    padding: 0;
}

.tx-title {
    color: white;
    font-family: 'MyCustomFontMedium', sans-serif;
    font-size: 20px;
}

.tx-subtitle {
    color: gray;
    font-family: 'MyCustomFontMedium', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

.sliders-wrapper {
    overflow-y: auto;
    width: 100vw;
}