:root {
  --app-height: 100dvh;
}

@media  {
  :root {
    --app-height: 100svh;
  }
}

html, body, #root {
  width: 100%;
  height: var(--app-height);
  overflow: hidden;
  background-color: black;
}
